<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="POLLING_INTERVAL_HOURS" value="3" />
  <add key="MESSAGES_INTERVAL_DAYS" value="3" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="KYCUser" value="webuser"/>
    <add key="KYCPass" value="Simple@123"/>
    <add key="KYCUrl" value="http://40.115.57.160:1748/DynamicsNAV100/ODataV4/Company('Dalex%20FD%20Invest.%20Mgt.%20System')"/>
</appSettings>
</configuration>